@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin-top: 1rem;
  background-color: #2f4353;
  background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  
}
  
  li {
    list-style: none;
    font-size: 1rem;
    color: #fff;
  }
  a {
    color: rgb(238, 238, 238);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .active{
      color:rgb(81, 197, 226);
  }
  nav {
    background-color: #101b3afa;
    color: #fff;
    padding: 0 0;
    min-height: 2rem;
    border: 3px solid #eff2f3;
  }
  i{
      font-size: 2rem;
      
      color:rgb(1, 2, 2);
      display: inline;
  }
  .photo{
      text-align: center;
      display: flex;
      flex-direction: row;  
  }
  nav ul{
      display: flex;
      flex-direction: row;
      min-height: 3rem;
  }
  nav ul li{
    padding: 0;
    display: inline-block;
     margin: auto; 
  }
  .cards{
    width: 60rem;
    min-height: 25rem;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    margin: 1rem 1rem 1rem 1rem;
    padding: 2rem;
    color: black;
}
.cards a{
    font-style: italic;
    font-weight: 500;
    color: black;
    margin-left: 1rem;
    transition: all 0.2s ease;
}

.cards a:hover{
    color: rgb(132, 76, 230);
    transform: translateY(5px);
}